<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DSP</title>
    <!-- Bootstrap Core CSS-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/css/buyerProfile.css">
    <!--
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    |
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="Logout" class="navbar-brand">Sign Out</a>
          <a href="campaigns" class="navbar-brand">myCampaigns</a>
        </div>
      </div>
    </nav>
    <form method="post" action="campaign">
      <label>    <input type="text" name="title" placeholder="Title" required=""> </label><br>
  
      <label>  <input type="text" name="budget" placeholder="budget" required=""> </label><br>
    
      <label> 
      <input type="text" name="tags" placeholder="Tags" required=""> </label><br>
  
      <fieldset class="account-action">
        <input type="submit" name="submit" value="Upload Campaign" class="btn">
      </fieldset>
    </form>


  </body>
</html>